* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 20px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch--slider {
  position: absolute;
  cursor: pointer;
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  border-radius: 17.5px;
  width: 35px;
  height: 20px;
  border: 2px solid #989898;
}

.toggle-switch--slider::before {
  position: absolute;
  content: "";
  background-color: #989898;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: 0.4s;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

input:checked + .toggle-switch--slider {
  background-color: transparent;
}

input:checked + .toggle-switch--slider::before {
  transform: translate(11px, -50%);
}

.grid {
  width: 100%;
  padding: 0;
  display: block;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.grid .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.grid .row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.grid .row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.grid .col {
  padding-left: 4px;
  padding-right: 4px;
}

.grid .c-0,
.grid .m-0,
.grid .l-0 {
  display: none;
}

.grid .c-1 {
  display: block;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.grid .c-o-1 {
  margin-left: 8.33333%;
}

.grid .c-2 {
  display: block;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.grid .c-o-2 {
  margin-left: 16.66667%;
}

.grid .c-3 {
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
}

.grid .c-o-3 {
  margin-left: 25%;
}

.grid .c-4 {
  display: block;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.grid .c-o-4 {
  margin-left: 33.33333%;
}

.grid .c-5 {
  display: block;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.grid .c-o-5 {
  margin-left: 41.66667%;
}

.grid .c-6 {
  display: block;
  flex: 0 0 50%;
  max-width: 50%;
}

.grid .c-o-6 {
  margin-left: 50%;
}

.grid .c-7 {
  display: block;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.grid .c-o-7 {
  margin-left: 58.33333%;
}

.grid .c-8 {
  display: block;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.grid .c-o-8 {
  margin-left: 66.66667%;
}

.grid .c-9 {
  display: block;
  flex: 0 0 75%;
  max-width: 75%;
}

.grid .c-o-9 {
  margin-left: 75%;
}

.grid .c-10 {
  display: block;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.grid .c-o-10 {
  margin-left: 83.33333%;
}

.grid .c-11 {
  display: block;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.grid .c-o-11 {
  margin-left: 91.66667%;
}

.grid .c-12 {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 740px) {
  .grid .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .grid .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .grid .m-1 {
    display: block;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid .m-o-1 {
    margin-left: 8.33333%;
  }
  .grid .m-2 {
    display: block;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid .m-o-2 {
    margin-left: 16.66667%;
  }
  .grid .m-3 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid .m-o-3 {
    margin-left: 25%;
  }
  .grid .m-4 {
    display: block;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid .m-o-4 {
    margin-left: 33.33333%;
  }
  .grid .m-5 {
    display: block;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid .m-o-5 {
    margin-left: 41.66667%;
  }
  .grid .m-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid .m-o-6 {
    margin-left: 50%;
  }
  .grid .m-7 {
    display: block;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid .m-o-7 {
    margin-left: 58.33333%;
  }
  .grid .m-8 {
    display: block;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid .m-o-8 {
    margin-left: 66.66667%;
  }
  .grid .m-9 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid .m-o-9 {
    margin-left: 75%;
  }
  .grid .m-10 {
    display: block;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid .m-o-10 {
    margin-left: 83.33333%;
  }
  .grid .m-11 {
    display: block;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid .m-o-11 {
    margin-left: 91.66667%;
  }
  .grid .m-12 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1113px) {
  .grid .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .grid .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .grid .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .grid .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .grid .l-1 {
    display: block;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid .l-o-1 {
    margin-left: 8.33333%;
  }
  .grid .l-2 {
    display: block;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid .l-o-2 {
    margin-left: 16.66667%;
  }
  .grid .l-3 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid .l-o-3 {
    margin-left: 25%;
  }
  .grid .l-4 {
    display: block;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid .l-o-4 {
    margin-left: 33.33333%;
  }
  .grid .l-5 {
    display: block;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid .l-o-5 {
    margin-left: 41.66667%;
  }
  .grid .l-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid .l-o-6 {
    margin-left: 50%;
  }
  .grid .l-7 {
    display: block;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid .l-o-7 {
    margin-left: 58.33333%;
  }
  .grid .l-8 {
    display: block;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid .l-o-8 {
    margin-left: 66.66667%;
  }
  .grid .l-9 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid .l-o-9 {
    margin-left: 75%;
  }
  .grid .l-10 {
    display: block;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid .l-o-10 {
    margin-left: 83.33333%;
  }
  .grid .l-11 {
    display: block;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid .l-o-11 {
    margin-left: 91.66667%;
  }
  .grid .l-12 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023pxs) {
  .grid.wide {
    width: 644px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
  .grid.wide {
    width: 984px;
  }
  .grid.wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .grid.wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .grid.wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .grid.wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .grid.wide .l-1 {
    display: block;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid.wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .grid.wide .l-2 {
    display: block;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid.wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .grid.wide .l-3 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid.wide .l-o-3 {
    margin-left: 25%;
  }
  .grid.wide .l-4 {
    display: block;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid.wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .grid.wide .l-5 {
    display: block;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid.wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .grid.wide .l-6 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid.wide .l-o-6 {
    margin-left: 50%;
  }
  .grid.wide .l-7 {
    display: block;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid.wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .grid.wide .l-8 {
    display: block;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid.wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .grid.wide .l-9 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid.wide .l-o-9 {
    margin-left: 75%;
  }
  .grid.wide .l-10 {
    display: block;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid.wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .grid.wide .l-11 {
    display: block;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid.wide .l-o-11 {
    margin-left: 91.66667%;
  }
  .grid.wide .l-12 {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

body {
  background-image: url(../img/background_mars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: #fff;
}

a {
  color: #d06d6d;
}

a:hover {
  color: #613131;
}

.wrap {
  margin-top: 2rem;
}

.current-weather {
  background: rgba(0, 0, 0, 0.6);
  padding: 3rem 4rem;
  border-radius: 10px;
}

.current-weather .title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  color: #d06d6d;
  text-align: left;
  margin: 0 0 3rem 0;
  letter-spacing: -1px;
}

.current-weather .current-weather--item {
  position: relative;
  margin-bottom: 5rem;
}

.current-weather .current-weather--item:not(:first-child) {
  padding-left: 4rem;
}

.current-weather .current-weather--item:not(:first-child)::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 100%;
  background: #d06d6d;
  left: -0.5rem;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ms-opacity: 0.7;
  opacity: 0.7;
}

.current-weather .current-weather--item.--date .date--day {
  font-size: 3.5rem;
  line-height: 3.5rem;
  margin: 0;
  color: #989898;
}

.current-weather .current-weather--item.--temp .temp--reading {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin: 0;
  color: #989898;
}

.current-weather .current-weather--item.--wind {
  display: flex;
  align-items: center;
}

.current-weather .current-weather--item.--wind .wind-icon {
  margin-right: 1rem;
}

.current-weather .current-weather--item.--wind .wind--speed {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0.5rem 0;
  font-weight: 700;
  color: #989898;
}

.current-weather .section-title {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  margin: 0;
}

.current-weather .section-title__date {
  font-size: 5rem;
  line-height: 5rem;
}

.current-weather .info {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.current-weather .unit-toggle {
  position: relative;
}

.current-weather .unit-toggle .--item {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #989898;
}

.current-weather .unit-toggle .--item label {
  cursor: pointer;
}

.current-weather .unit-toggle .--item .toggle-switch {
  margin: 0 1rem;
}
/*# sourceMappingURL=main.css.map */