//colors
$clr-light: #fff;
$clr-gray: #989898;
$clr-dark: #444;
$clr-accent: #d06d6d;
$clr-accent-dark: #613131;

//font sizes
$fs-body: 1.6rem;
$fs-h1: 3.5rem;
$fs-h2: 2rem;
$fs-xl: 5rem;

//font weight
$fw-light: 300;
$fw-normal: 400;
$fw-semi: 500;
$fw-bold: 700;
