@import "base", "toggle_switch_button", "variables", "mixins";

:root {
  --fs-h1: 5rem;
  --fs-h2: 2.6rem;
  --fs-body: 1.3rem;
}

#main {
  color: $clr-light;
  background-image: url(../img/background_mars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: $clr-accent;
  &:hover {
    color: $clr-accent-dark;
  }
}
